{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Memo project</title>
    <link rel="stylesheet" type="text/css"
        href="{% static 'ext-js/resources/css/ext-all.css' %}" />
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'ext-js/adapter/jquery/ext-jquery-adapter.js' %}"></script>
    <script src="{% static 'ext-js/adapter/ext/ext-base.js' %}"></script>
    <script src="{% static 'ext-js/ext-all-debug.js' %}"></script>
    <script src="{% static 'scripts/Cookie.js' %}"></script>
    <script src="{% static 'scripts/Auth.js' %}"></script>
    <script src="{% static 'scripts/MemoEditForm.js' %}"></script>

    <script>

Ext.onReady(function(){
    Ext.QuickTips.init();

    Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

    // create the data store
    var reader = new Ext.data.JsonReader({
        idProperty: 'pk',
        root: 'data',

        fields: [
           {name: 'pk', mapping: 'pk'},
           {name: 'title', mapping: 'title'},
           {name: 'text', mapping: 'text' },
           {name: 'created', mapping: 'created'},
           {name: 'category', mapping: 'category'},
           {name: 'published', mapping: 'published'},
           {name: 'chosen', mapping: 'chosen'},
           {name: 'owner', mapping: 'owner'},
        ]
    });

    var store = new Ext.data.Store({
        url: 'note/get_all/',
        reader: reader,
        autoLoad: true
    })

    var grid = new Ext.grid.GridPanel({
        store: store,
        columns: [
            {
                id       :'company',
                header   : 'uuid',
                width    : 20,
                dataIndex: 'pk'
            },
            {
                header   : 'Title',
                dataIndex: 'title'
            },
            {
                header   : 'Text',

                sortable : true,
                dataIndex: 'text'
            },
            {
                header   : 'Created',

                sortable : true,
                renderer : Ext.util.Format.dateRenderer('m/d/Y h:m'),
                dataIndex: 'created'
            },
            {
                header   : 'Published',

                sortable : true,
                dataIndex: 'published'
            },
            {
                header   : 'Category',

                sortable : true,
                dataIndex: 'category'
            },
            {
                header   : 'Chosen',

                sortable : true,
                dataIndex: 'chosen'
            },
            {
                header   : 'Owner',

                sortable : true,
                dataIndex: 'owner'
            },

            {
                xtype: 'actioncolumn',
                items: [{
                    icon :"{% static 'icons/delete.png' %}",
                    tooltip: "Delete",
                    handler: function(grid, rowIndex, colIndex) {
                        var rec = store.getAt(rowIndex);
                        //alert(rec.get('pk'));
                        Ext.Msg.show({
                            title: 'Remove column',
                            buttons: Ext.MessageBox.YESNOCANCEL,
                            msg: 'Remove ' + rec.data.title + '?',
                            fn: function(btn) {
                                if (btn == 'yes'){
                                    var url = 'note/' + rec.get('pk') + '/del/';

                                    Ext.Ajax.request({
                                        url: 'note/api/',
                                        method: 'POST',
                                        params: {'operation': 'remove', 'id': rec.get('pk')},
                                        success: function(result, request) {
                                            grid.getStore().remove(rec);
                                        }
                                    });
                                };
                            }
                        });
                    }
                }, {
                    icon :"{% static 'icons/notes.png' %}",
                    tooltip: "Edit",
                    handler: function(grid, rowIndex, colIndex) {
                        var rec = store.getAt(rowIndex);
                        alert(rec.get('pk'));
                    }
                }]
            },
        ],
        stripeRows: true,
        autoExpandColumn: 'company',

        tbar: [{
            text: 'Add',
            icon :"{% static 'icons/notes.png' %}",
        },'->',
        {
            text: 'Logout',
            icon :"{% static 'icons/exit.png' %}",
            handler: function() {
                Ext.Ajax.request({
                    url: 'auth/',
                    method: 'POST',
                    params: {'operation': 'logout'},
                    success: function(result, request) {
                        console.log('logout');
                    }
                });
            }
        },
        {
            text: 'Login',
            icon :"{% static 'icons/login.png' %}",
            handler: function() {
                var obj = new My.scripts.Auth('Login','auth/', 'login');
                obj.show();
            }
        },
        {
            text: 'Registering',
            icon :"{% static 'icons/account.png' %}",
            handler: function() {
                var obj = new My.scripts.Auth('Register','auth/', 'register');
                obj.show();
            }
        },
        ],


        title: 'Memo',
        // config options for stateful behavior
        height: 300,
        width: 800,
        stateful: true,
        stateId: 'grid'
    });

    grid.render('grid-memo');
});

    </script>
</head>
<body>
    <div id="grid-memo"></div>
</body>
</html>